body{
	font-family:fanatasy;
	font-weight:400;
	color:white;
	letter-spacing:1px;
	text-align:center;
}
article{
	background-image:url(wal.webp);
	height:100vh;
	background-image:url('bck1.jpg');
	background-size:cover;
	background-position:center;
	min-height:100px;
}
article h1{
	color:black;
	font-size:90px;
	font-weight:800;
	text-transform:uppercase;
	position:absolute;
	top:30%;
	left:25%;
	text-outline:black;
}
article h1:after{
	content:"";
	height:5px;
	width:250px;
	background-color:red;
	display:block;
	margin:auto; 
}	
.slide-container{
	padding:8px;
	margin:80px 230px;
	background-color:black;
}
.slider-wrapper{
	padding:90px;
	position:relative;
	max-width:32rem;
	margin:0 auto;
}
.slider{
	display:flex;
	aspect-ratio:16/9;
	overflow-x:auto;
	scroll-snap-type:x-mandatoty;
	scroll-behaviour:smooth;
}
.slider img{
	flex:1 0 100%
}
.container{
	padding:80px;
	margin:150px;
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	display:grid;
	grid-template-columns: max-content 2fr 0fr; 
}
.container-time{
	background-color: black;
	outline:2px dashed red;
	padding:50px;
	outline-offset:-30px;
	text-align:center;
}
.heading{
	font-size:35px;
	text-transform:uppercase;
}
.heading-days{
	color:red;
	font-size:23px;
}
.heading-phone{
	font-size:20px;
}
.container-form{
	padding:10px;
	margin:0 auto;
	color:red;
}
form{
	display:grid;
	grid-row-gap:25px;
}
form p{
	font-weight:600;
}
.form-field{
	display:flex;
	justify-content:space-between;
}
input,select,textarea{
	padding:10px 15px;
	width:60%;
}
input:focus
textarea:focus{
	outline:none;
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	height:auto;
	border:1px solid;
	width:100%;
}
.btn{
	background-color:red;
	color:white;
	padding:10px 15px;
	border:none;
	font-size:18px;
	border-radius: 4px 3px 6px / 2px 4px;
	width:100%
}
.btn:hover{
	transform:scale(1.03);
	color:red;
	background-color:white;
	border:2px solid red;
}

footer{
	height:10vh;
	background-image:url('bck2.jpg')
	background-size:cover;
	background-position:center;
	min-height:100px;
}
ul{
	float:right;
	list-style-type:none;
	margin-top:30px;
	min-height:100px;
	font-size:28px;
	text-decoration:bold;
	font-family: Fantasy;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:black;
	padding:5px 20px;
	border: 1px solid transparent;
	transition:0.5s ease:
}
ul li a:hover{
	background-color: red;
	color: white;
}
ul li.active{
	 background-color:red;
	 color:white; 
}
.logo img {
	float:left;
	height:70px;
	width:90px;
	height:auto;
}
.main{
	background: rgb(244,6,47);
	background: linear-gradient(90deg, rgba(244,6,47,1) 0%, rgba(253,29,128,1) 50%);
	max-width:1200px;
	margin:auto;
}



	